body {
  background: #858296;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
}
.heading{
  text-align: center;
  background-color: #d5d5ef;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family:cursive;
  color: #7d728b;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #b6b6d5;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family:monospace;
  letter-spacing: 1px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 14px
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 9px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #b3b1d1;
}

.all-domains{
  background-color: #b6b6d5;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-top: 5px;
}

.body-2{
  margin-top: 5px;
  background-color: #d5d5ef;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center
}

.container > div{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.ss{
  width: 20%;
  background-color: #d5d5ef;
  color: #7d728b;
}
.ee{
  width: 90%;
  background-color: #d5d5ef;
  color: #7d728b;
}
